<%-include("partials/header")%>
<h1 class="about">About Me</h1>
<p class="me">Hello, my name is Vikas Sharma. I am from Samba, Jammu, and Kashmir. My interest is in creating websites and web applications. I love to create websites for people's comfort. I am currently pursuing BTech at Shri Mata Vaishno Devi
  University, Kakryal, Katra, Jammu, and Kashmir. You can contact me through the various social media handles given below.</p>
<a class="link" href="https://www.linkedin.com/in/vikas-sharma-263b24232/">LinkedIn</a>
<a class="link" href="https://twitter.com/VikasSh26327403">Twitter</a>
<a class="link" href="https://www.instagram.com/sharma.vikas1/">Instagram</a>
<a class="link" href="https://www.facebook.com/profile.php?id=100054787733275">Facebook</a>
<%-include("partials/footer")%>
