<%-include("partials/header")%>
<div class="main">
  <div class="h">
    <h1 class="heading">Hi! I am <a class="wd">Web Designer</a> Vikas Sharma</h1>
    <p class="p">Developing user interactive website</p>
    <a class="hire" href="mailto:vikassharma20015@gmail.com?subject=feedback">Hire Me</a>
    <a class="project" href="https://github.com/sharmavikas4">Projects ↗</a>
    <div class="stats">
      <div class="done ">
        <h2>13</h2>
        <p>Projects Done</p>
      </div>
      <div class="c">
        <h2>Contact</h2>
        <p>vikassharma20015@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="photo">
    <img class="profile" src="profile.png" alt="">
    <div class="pf">
      <p class="sub">Subscribe to my newsletter</p>
      <a class="arrow" href="https://vnewsletter.up.railway.app/">→</a>
    </div>
  </div>
  <div class="year">
    <div class="Statistics">
      <h5 class="ps">Project Statistics 2022</h5>
      <a class="hire" href="https://github.com/sharmavikas4?tab=repositories">Know more</a>
    </div>
    <div class="web">
      <p class="">Website Design: 15</p>
      <hr>
    </div>
  </div>
</div>
<%-include("partials/footer")%>
