body{
  border-width: 35px;
  border-style: solid;
  border-color: transparent;
  border-radius: 2px;
  border-image: linear-gradient(to right, grey, black);
  border-image-slice: 1;
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
}
.container-fluid{
  background-color: white;
}
.navbar-brand{
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
}
.navbar-nav{
  margin-left: 15%;
  width: 75%;
}
.nav-item{
  padding-left: 10%;
}
.dot{
  color: orange;
  font-size: 30px;
}
.h{
  width: 28%;
  display: inline-block;
  position: relative;
  bottom: 28%;
}
.heading{
  font-size: 2.5rem;
  font-weight: bolder;
  padding-bottom: 4.5%;
}

.p{
  margin-bottom: 2rem !important;
}
.wd{
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #4649FF;
  color: white;
  padding:7px 15px 7px 15px;
  border-radius: 60px;
  position: relative;
  bottom: 0.8rem;
}
.wd:hover,.hire:hover,.project:hover{
  text-decoration: none;
  color: white;
}
.line {
  width: 98%;
  margin: 0;
}
.hire{
  text-decoration: none;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #FF6E31;
  color: white;
}
.project{
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
.project:hover{
  color:black;
}
.stats{
  padding-top: 2rem;
}
.done,.c{
  display: inline-block;
}
.c {
  position: relative;
  left: 15.5%;
}
.photo{
  display: inline-block;
  position: relative;
  width: 70%;
  left: 10.3%;
}
.profile{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.pf{
  position: absolute;
  right: auto;
  left: 25%;
  bottom: 4rem;
  box-sizing: border-box;
  background-color: white;
  width: 50%;
  font-size: 1.5rem;
  padding: 15px 20px 0 25px;
}
.sub{
  display: inline-block;
}
.arrow{
  margin-left:10%;
  text-decoration: none;
  box-sizing: border-box;
  background-color: black;
  color: white;
  padding: 0 8px 4px 8px;
  font-size: 1.5rem;
}
.arrow:hover{
  text-decoration: none;
  color: white;
}
.year{
  background-color: black;
  color: white;
  position: absolute;
  padding: 3.25%;
  width: 38.5%;
  left:2.28%;
  top: 49rem;
}
.Statistics{
  display: inline-block;
  width:30%;
}
.web{
  display: inline-block;
  padding-left: 20%
}
.ps{
  padding-bottom: 10px;
}
.link{
  text-decoration: none;
  display: block;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.link:hover{

  text-decoration: none;
  color: black;
}
.about{
  padding-top: 50px;
  padding-bottom: 60px;
  text-decoration: underline;
}
.me{
  line-height: 1.5;
  font-size: 18px;
}
